.resto {
    &-top {}
    &-rating {
        @extend .catalog-rating;
        padding-top: 15px;
        padding-bottom: 16px;
    }
    &-info {
        padding-bottom: 40px;
        p {
        	margin: 0 0 6px;
        }
        @include mobile {
        	padding-bottom: 20px;
        }
        strong {
            font-weight: 600;
        }
    }
    &-navbar {
    	padding-top: 38px;
    	@include mobile {
    		padding-top: 0;
    	}
    }
    &-heading {
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 11px;
        text-transform: uppercase;
    }
    &-search {
        border-radius: 7px;
        margin-bottom: 32px;
        .search-item {
            background-color: #f7f8f7;
            &--big {
                width: 29%;
                & + .search-item--big {
                	width: 31%;
                	@include mobile {
	                	width: 100%;
	                }
                }
                @include mobile {
                	width: 100%;
                }
            }
            .form-control--transparent {
                background-color: #f7f8f7;
            }
            .bootstrap-select>.dropdown-toggle {
                background-color: transparent;
                padding-top: 3px;
                .caret {
                    right: 0;
                    @include mobile {
                        right: -4px;
                    }
                }
            }
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu {
                max-width: none;
                width: 150px;   
                
            }
        }
    }
    &-navbar {
    	@include mobile {
    		margin-bottom: 20px;
    	}
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: 12px;
                a {
                    font-weight: 600;
                    transition: color 0.3s;
                }
                span {
                    font-weight: 600;
                }
                &.active,
                &:hover {
                    a,
                    span {
                        color: #e94f1b;
                    }
                }
            }
        }
    }
    &-item {
        margin-bottom: 37px;
        line-height: 20px;
        @include mobile {
        	margin-bottom: 20px;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    &-map {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        padding-bottom: 30%;
        .embed-responsive-item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
    &-left {
        float: left;
        width: 69%;
        padding-right: 30px;
        @include mobile {
        	width: 100%;
        	padding-right: 0;
        	float: none;
        }
    }
    &-right {
        float: left;
        width: 31%;
        @include mobile {
        	width: 100%;
        	float: none;
        }
    }

    &-tabs {
        width: 70%;
        padding-right: 30px;
        @include mini-laptop {
        	width: 100%;
        	padding-right: 0;
        }
        &-holder {
            margin: 0 -7.5px;
        }
        .nav-tabs {
            border-radius: 5px;
            >li {
                text-align: center;
                width: 33.3%;
                background-color: #fff;
                border: 1px solid #f7f8f7;
                border-left: none;
                a {
                    color: #522a6b;
                    font-size: 1rem;
                    border: none;
                    border-radius: 0;
                    margin-right: 0;
                    padding: 7px 13px;
                    transition: all 0.3s;
                    @include mobile {
                    	font-size: 0.7rem;
                    }
                    @media screen and (max-width: 350px) {
                    	padding: 10px 5px;
                    }
                }
                &:first-child {
                    border-radius: 5px 0 0 0;
                    a {
                        border-radius: 5px 0 0 0;
                    }
                }
                &:nth-child(3) {
                    border-radius: 0 5px 0 0;
                    a {
                        border-radius: 0 5px 0 0;
                    }
                }
                &:nth-child(4) {
                    border-radius: 0 0 0 5px;
                    a {
                        border-radius: 0 0 0 5px;
                    }
                }
                &:last-child {
                    border-radius: 0 0 5px 0;
                    a {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
            background-color: #e94f1b;
            color: #fff;
            border: none;
        }
        .nav-tabs>li>a:hover {
            border: none;
        }

        .nav>li>a:focus,
        .nav>li>a:hover {
            text-decoration: none;
            background-color: #e94f1b;
            color: #fff;
        }
        .tab-content {
            padding-top: 17px;
        }
    }
    &-menu {
        background-color: #f7f8f7;
        padding: 30px 9999px 41px;
        margin: 0 -9999px;
        .heading-h3 {
        	margin-bottom: 10px;
        }
        &-item {
            @include clearfix;
            &:not(:last-child) {
            	margin-bottom: 32px;
            }
            
        }
        &-img {
            float: left;
            width: 165px;
            margin-top: 7px;	
            img {
                @include mobile {
                    width: 100%;    
                }
            }
            @include mobile {
            	width: 100%;
            	float: none;
            	margin-bottom: 10px;
            }
        }
        &-info {
            padding-left: 30px;
            padding-top: 3px;
            float: left;
            width: calc(100% - 165px);
            @include mobile {
            	width: 100%;
            	padding-left: 0;
            	float: none;
            }
            .catalog-heading {
            	padding-bottom: 7px;
            	margin-bottom: 5px;
            }
        }
        &-data {
            padding-top: 10px;
            p {
                margin-bottom: 5px;
            }
        }
    }
    &-shares {
        padding-top: 0;
    }
    &-share {
        display: block;
        padding: 30px 25px;
        border-radius: 5px;
        .catalog-heading {
        	padding-bottom: 15px;
        	margin-bottom: 15px;
        }
        @include mini-laptop {
        	margin-top: 20px;
        }
        &--inverse {
            text-decoration: none;
            background-color: #f7f8f7;
        }
        &-holder {
            width: 70%;
            padding-right: 30px;
            margin: 0 -7.5px;
            @include tablet {
            	width: 100%;
            	padding-right: 0;
            	margin: 0;
            }
        }
        &-text {
            max-height: 60px;
            overflow: hidden;
        }
        &-date {
		    padding-top: 12px;
		    font-weight: 600;
		    font-size: 0.9rem;
        }
    }
    &-similar {
        padding: 60px 9999px 30px;
        margin: 0 -9999px;
        background-color: #f7f8f7;
        @include mobile {
            padding: 30px 9999px 0;
        }
    }
    &-right {
        padding: 24px 28px 0;
        background-color: #522a6b;
        border-radius: 5px;
        color: #fff;
        @include mini-laptop {
        	padding: 15px;
        }
        a {
            color: #fff;
        }
        strong {
            display: block;
            font-weight: 600;
        }
        &-block {
            margin-bottom: 26px;
    		line-height: 21px;
        }
        &-top {
            padding-bottom: 14px;
		    margin-bottom: 9px;
		    position: relative;
		    line-height: 16px;
		    margin-top: -5px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 67px;
                background-color: #ee4d14;
            }
        }
    }
}

.gallery {
    &-list {
        @include clearfix;
        margin: 0 -15px;
    }
    &-item {
        width: 16.666%;
        height: 70px;
        overflow: hidden;
        float: left;
        padding: 0 15px;
        margin-bottom: 30px;
        position: relative;
        @include mini-laptop {
        	width: 25%;
        }
        &:hover {
        	.zoom-icon {
        		visibility: visible;
        	}
        }
    }
}


.reviews {
    &-list {
        width: 70%;
        padding-right: 30px;
        margin: 0 -8px;
        @include tablet {
        	width: 100%;
        	padding-right: 0;
            margin: 0;  
        }
    }
    &-item {
        margin-bottom: 36px;
    }
    &-top {
        @include clearfix;
        margin-bottom: 7px;
    }
    &-name {
        float: left;
        font-weight: 600;
        font-size: 1.07rem;
    }
    &-date {
        float: right;
        font-size: 0.92rem;
        opacity: 0.5;
    }
    &-text {
        font-size: 0.92rem;
        margin-bottom: 12px;
    }
    &-rating {
        @extend .catalog-rating;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 15px;
        @include tablet {
            text-align: left;
        }
        li:not(:last-child) {
            @media screen and (max-width: 350px) {
                margin-right: 3px!important;
            }
        }
    }
    &-img {
        position: relative;
    	display: block;
        &:hover {
            .zoom-icon {
                visibility: visible;
            }
        }
    	@include mobile {
    		text-align: center;
    		margin-bottom: 10px;
    	}
        img {
            @include mobile {
                width: 100%;    
            }
        }
    }
    &-table {
        width: 70%;
        padding-right: 30px;
        padding-top: 23px;
        margin: 0 -8px;
        @include mini-laptop {
        	width: 90%;
        }
        @include tablet {
            margin: 0;  
            width: 100%;    
        }
        @include mobile {
        	padding-right: 0;
        	width: 100%;
        }
		&-heading {
			font-weight: 600;
			font-size: 1.23rem;
			margin-bottom: 10px;
			span {
				color: #ee4d14;
			}
		}
        .reviews-rating {
            margin-bottom: 0;
            ul {
            	margin-right: 10px;
            }
        }
        .table {
        	margin-bottom: 43px;
            @include mobile {
                margin-bottom: 25px;
            }
        }
        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
        	vertical-align: middle;
        	border-top: none;
        	padding: 4px 0 3px;
        	&:first-child {
        		padding-left: 0;
        	}
        	&:last-child {
        		text-align: right;
        		font-weight: 600;
        		font-size: 1.23rem;
        	}
        }
    }
    &-line {
        width: 100%;
        height: 100%;
        background-color: #ee4d14;
        &-wrapper {
            width: 345px;
            height: 12px;
        }
        &--one {
            width: 10%;
        }
        &--two {
            width: 20%;
        }
        &--three {
            width: 30%;
        }
        &--four {
            width: 40%;
        }
        &--five {
            width: 50%;
        }
        &--six {
            width: 60%;
        }
        &--seven {
            width: 70%;
        }
        &--eight {
            width: 80%;
        }
        &--nine {
            width: 90%;
        }
    }
}

.review {
    &-heading {
        font-weight: 600;
        font-size: 1.23rem;
        margin-bottom: 21px;
    }
    &-box {
        width: 70%;
        padding-right: 30px;
        padding-bottom: 50px;
        margin: 0 -8px;
        @include tablet {
        	width: 100%;
        	padding-right: 0;
            margin: 0;  
        	padding-bottom: 20px;
        }
        .btn-success {
            width: 140px;
        }
        .form-group:first-child {
        	margin-bottom: 18px;
        }
    }
    &-grade {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.84rem;
    }
    &-load {
    	text-align: center;
    	margin-bottom: 34px;
    	span,
    	img {
    		display: inline-block;
    		vertical-align: middle;
    	}
    	span {
    		margin-right: 15px;
    		color: #898989;
    	}
    	img {
    		margin-right: 15px;
    		& + span {
    			margin-right: 0;
    		}
    	}
    }
}

.zoom-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 1.5rem;
	z-index: 1;
	visibility: hidden;
	transition: visibility 0.3s;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    padding: 10px 25px;
    margin: -6px 0 0 0;

    @include tablet {
        margin-right: 0;    
    }
    @include mobile {
        padding: 10px 15px;
    }
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.table-responsive {
    @include mobile {
        border: none;
        margin-bottom: 20px;
    }
}

.resto-like-icon {
	position: absolute;
	right: 10px;
	top: 12px;
	width: 52px;
	height: 52px;
	border-radius: 52px;
	color: #fff;
	background-color: #e94f1b;
	font-size: 1.5rem;
	@include mobile {
		display: none;
	}
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.filename-box {
    p {
        position: relative;
        span {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
        }
    }
}