.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 67px;
    z-index: 10;
    transition: height 0.3s;
    @include mini-laptop {
        height: 46px;
    }
    @include tablet {
        height: 43px;
        background-color: #522a6b;
    }
    &-right {
        display: inline-block;
        vertical-align: middle;
        @include mini-laptop {
            float: right;
            width: 25%;
        }
        @include tablet {
            float: none;
            width: auto;
            position: absolute;
            top: 40px;
            left: 20px;
        }
    }
    &-logo {
        padding-top: 17px;
        display: block;
        @include tablet {
            padding-top: 14px;
        }
        img {
            @include tablet {
                max-height: 20px;
            }
        }
    }
    &.affix {
        height: 38px;
        @include mini-laptop {
            height: 36px;
        }
        @include tablet {
            height: 46px;
        }
        .header-logo {
            display: none;
            @include tablet {
                display: block;
            }
        }
        .navbar .location {
            padding-top: 10px;
            padding-bottom: 10px;
            @include tablet {
                padding: 15px 8px;
            }
        }
        .navbar ul li a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar:after {
            height: 38px;
            @include mini-laptop {
                height: 36px;
            }
        }
        .lang {
            @include mini-laptop {
                padding-top: 5px;
            }
        }
        .toolbar {
            @include mini-laptop {
                padding-top: 5px;
            }
        }
        .authorize {
            @include mini-laptop {
                padding-top: 10px;
            }
        }
    }
}

.main-page {
    .header-logo {
        display: none;
        @include tablet {
            display: block;
        }
    }
    .logo-main {
        @include tablet {
            display: none;
        }
    }
}

.logo-main {
    @include tablet {
        display: none;
    }
}

.lang {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px;
    transition: all 0.3s;
    @include mini-laptop {
        margin: 0 10px;
        padding-top: 10px;
    }
    .dropdown-menu {
        display: none;
        min-width: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        li {
            display: block;
            &:not(:last-child) {
                padding: 0;
            }
        }
        a {
            display: block;
            padding: 0!important;
            &:after,
            &:before {
                display: none;
            }
        }
        img {
            display: inline-block;
            vertical-align: top;
        }
    }
    &.open {
        .dropdown-menu {
            display: block;
        }
    }
}

.authorize {
    position: relative;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    @include mini-laptop {
        padding-top: 13px;
    }
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    span {
        margin-right: 10px;
    }

    &:hover {
        color: #fff;
    }
    ul.dropdown-menu {
        display: none;
        padding-left: 0;
        border-radius: 0;
        @include mini-laptop {
            right: 0;
            left: auto;
        }
        @include tablet {
            padding-top: 0;
        }
        @include mobile {
            left: 0;
            right: auto;
        }
        li {
            display: block;
            &:not(:last-child) {
                padding: 0;
            }
            a {
                display: block;
                width: 100%;
                padding: 10px;
                color: #522a6b;
                &:hover {
                    color: #522a6b;
                }
            }
        }
    }
    &.open {
        ul.dropdown-menu {
            display: block;
        }
    }
}