//= header.html
<div class="banner" style="background-image: url(images/blog-banner.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <ul class="breardcurmbs">
                    <li><a href="#">Заведения</a></li>
                    <li><span>Баркас. Fish&amp;Grill на Владимирской</span></li>
                </ul>
                <div class="heading-h1 heading-h1--blog">Ресторан Bootlegger: легальное удовольствие
                </div>
            </div>
        </div>
        <div class="sort">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="sort-toolbar sort-toolbar--right">
                        <a href="#" class="pagination-back"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <div class="pagination-arrows-holder">
                            <a class="pagination-arrow-prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="pagination-arrow-next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <a href="#" class="pagination-next hidden"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<article class="article-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-lg-offset-2">
                <div class="article-text">
                    <p>В XXI веке люди начали часто употреблять термин «суперпродукт». Происхождение самого термина можно проследить до начала XX века, но в последние годы он все чаще приобретает популярность. Сегодня еду принято называть «супер», если она богата питательными веществами и полезна для здоровья. Различные «суперпродукты» могут помочь улучшить здоровье, защитить сердце и печень, улучшить метаболизм, повысить иммунитет или укрепить кости.</p>
                    <p>Тем не менее, не всегда стоит верить всем волшебным свойствам суперпродуктов, рекламируемых пищевой промышленностью, и тратить много денег, чтобы «стать здоровее». Нужно проверить все факты о суперпродуктах, прежде чем тратить кучу денег на них. Итак, что же стоит включить в свой рацион. </p>
                </div>
            </div>
            <div class="article-img">
                <img src="images/blog-1.jpg" alt="">
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <div class="article-text">
                    <h2 class="article-h2">Демисезонная еда ― выгодное решение для первого заказа </h2>
                    <p>В XXI веке люди начали часто употреблять термин «суперпродукт». Происхождение самого термина можно проследить до начала XX века, но в последние годы он все чаще приобретает популярность. Сегодня еду принято называть «супер», если она богата питательными веществами и полезна для здоровья. Различные «суперпродукты» могут помочь улучшить здоровье, защитить сердце и печень, улучшить метаболизм, повысить иммунитет или укрепить кости.</p>
                    <p>Тем не менее, не всегда стоит верить всем волшебным свойствам суперпродуктов, рекламируемых пищевой промышленностью, и тратить много денег, чтобы «стать здоровее». Нужно проверить все факты о суперпродуктах, прежде чем тратить кучу денег на них. Итак, что же стоит включить в свой рацион. </p>
                </div>
            </div>
            <div class="article-img">
                <img src="images/blog-2.jpg" alt="">
            </div>
            <div class="col-md-10 col-lg-offset-2">
                <div class="article-text">
                    <h2 class="article-h2">Секреты удачных заказов для новичков и опытных предпринимателей</h2>
                    <p>Удобство, простота, выгодная ценовая политика ― вот что привлекает делать заказ в «Бастионе». Принимая решение купить оптом обувь в «Bastion», вы получаете партию готового товара, куда уже заложена стоимость производства без каких-либо сопутствующих трат с вашей стороны. </p>
                    <p><strong>Для вас, как владельца магазина, стоит знать несколько секретов удачного заказа:</strong></p>
                    <ul>
                        <li>Не пренебрегайте возможность посоветоваться с менеджером. Так вы сможете более детально разобраться с размерной сеткой (не маломерят или большемерят ли ботинки или туфли демисезонного модельного ряда), какой у них подъем, есть ли изделия разных стилей и прочее.</li>
                        <li>Ознакомьтесь с отзывами тех людей, которые уже делали заказ на сайте. Это очень полезно, ведь вы будете знать необходимую вам информацию наперед, сможете провести первичный анализ востребованности моделей среди обычных покупателей – физических лиц.</li>
                        <li>Обязательно смотрите на сезонные акции и скидки, специальные предложения и промокоды в период вашего заказа. Такой подход позволит сэкономить значительную сумму, сделав заказ еще более выгодным.</li>
                        <li>Внимательно отнеситесь к заполнению формы заказа на портале. Учтите наличие нужных вам моделей демисезонной обуви, ее размеров, срок и стоимость доставки в нужный для вас город. Поинтересуйтесь условиями возврата, если товар окажется невостребованным к концу сезона. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
//= footer.html