//= header.html
<div class="banner" style="background-image: url(images/header-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="heading-h1">Блог</div>
            </div>
        </div>
       
    </div>
</div>
<section class="blog">
    <div class="container-fluid">
        <div class="blog-list">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item">
                        <div class="catalog-img">
                            <img src="images/blog-main-1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item blog-item--inverse">
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                        <div class="catalog-img">
                            <img src="images/blog-main-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item">
                        <div class="catalog-img">
                            <img src="images/blog-main-1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item">
                        <div class="catalog-img">
                            <img src="images/blog-main-1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item blog-item--inverse">
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                        <div class="catalog-img">
                            <img src="images/blog-main-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item">
                        <div class="catalog-img">
                            <img src="images/blog-main-1.jpg" alt="">
                        </div>
                        <div class="blog-info">
                            <div class="catalog-heading">Как выбрать блюда на праздничный стол?</div>
                            <div class="blog-text">Готовясь к какому-либо домашнему торжеству, все мы стараемся самым тщательным образом подготовить меню. Традиции нашей страны таковы, что на любом празднике главная задача хозяев</div>
                            <div class="blog-date">21.06.2017 в 10:45</div>
                            <a class="btn btn-success" href="#">читать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination-left">
                <div class="pagination-arrows-holder">
                    <a class="pagination-arrow-prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a class="pagination-arrow-next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <ul class="pagination-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><span href="#">3</span></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
            </ul>
        </div>
    </div>
</section>
//= footer.html