//= header.html

<div class="banner" style="background-image: url(images/header-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <div class="heading-h1 heading-h1--bottom">
                    Избранное
                </div>
                <div class="banner-navbar">
                    <ul class="banner-menu">
                        <li><a href="#">Мои данные</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="#">История бронирований</a></li>
                        <li><a href="#">Мои предложения</a></li>
                        <li><a href="#">Уведомления</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cabinet">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="cabinet-img">
					<img src="images/man.png" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="cabinet-form">
					<form action="#" class="form js_form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" required placeholder="Ваша фамилия" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="tel" required placeholder="Ваш номер телефона" data-validate="phone" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="tel" required placeholder="Ваш номер телефона" data-validate="phone" class="form-control">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" required placeholder="Ваш основной город" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-group--relative">
									<input type="email" required placeholder="Ваш email" data-validate="email" class="form-control">
									<button class="btn btn-xs btn-success">сменить</button>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-group--relative">
									<input type="password" required placeholder="Ваш текущий пароль" data-validate="pass" class="form-control">
									<button class="btn btn-xs btn-success">сменить</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

//= footer.html