//= header.html

<div class="banner" style="background-image: url(images/header-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <div class="heading-h1 heading-h1--bottom">
                    Избранное
                </div>
                <div class="banner-navbar">
                    <ul class="banner-menu">
                        <li><a href="#">Мои данные</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="#">История бронирований</a></li>
                        <li><a href="#">Мои предложения</a></li>
                        <li><a href="#">Уведомления</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cabinet">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="cabinet-img">
					<img src="images/man.png" alt="">
				</div>
			</div>
			<div class="col-sm-7">
				<div class="cabinet-form">
					<form action="#" class="form js_form">
						<div class="error-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet accusamus odit exercitationem, autem similique excepturi, ut asperiores cumque eaque quibusdam sequi eius praesentium obcaecati minima ipsa reiciendis voluptatum maxime iusto necessitatibus ratione labore, harum. Atque aperiam quisquam esse reprehenderit repellendus!</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" required placeholder="Ваша фамилия" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" required placeholder="Ваше имя" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" required placeholder="Ваш email" data-validate="email" class="form-control">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group form-group--relative">
									<select name="city_id" class="selectpicker js-city-search" data-live-search="true">
                                        <option>Харьков</option>
                                        <option>Киев</option>
                                     </select>
                                     <button class="btn btn-xs btn-success">сменить</button>
								</div>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<div class="form-group">
									<a class="js-pass-btn change-pass">Изменить пароль</a>
								</div>
								<div class="pasword-change__holder js-pass-change">
									<div class="form-group">
										<input type="password" required placeholder="Ваш новый пароль" data-validate="pass" class="form-control">
									</div>
									<div class="form-group">
										<input type="password" required placeholder="Повторите пароль" data-validate="pass" class="form-control">
									</div>
									<button class="btn btn-xs btn-success js-pass-btn">подтвердить</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

//= footer.html