//= header.html
<div class="banner" style="background-image: url(images/header-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="heading-h1">
                    Избранное
                </div>
                <div class="banner-navbar">
                    <div class="banner-like">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                    <ul class="banner-menu">
                        <li><a href="#">Мои данные</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="#">История бронирований</a></li>
                        <li><a href="#">Мои предложения</a></li>
                        <li><a href="#">Уведомления</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="favorite">
    <div class="container-fluid">
        <div class="catalog-list">
            <div class="row">
                <div class="col-sm-4">
                    <div class="catalog-item js-catalog-item">
                        <div class="catalog-img">
                            <img src="images/favorite-1.jpg" alt="">
                        </div>
                        <div class="catalog-description">
                            <div class="catalog-like">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="catalog-absolute">
                                <div class="catalog-heading">44 Favorite Place</div>
                                <p><strong>Ресторан.</strong> Средний чек: 112 гривен</p>
                                <p><strong>Адрес:</strong> ул. Пушкинская, 44 – <a href="#">от вас 455 метров</a></p>
                                <div class="catalog-hover js-catalog-hover">
                                    <p><strong>Кухня:</strong> Восточноевропейская, Украинская, Итальянская</p>
                                    <p><strong>Время раб.:</strong>пн-пт: с 9 до 21; сб-вс: с 10 до 22</p>
                                    <div class="catalog-promo">
                                        <div class="promo-icon">
                                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                        </div>
                                        Скидка на всё меню в праздничные дни при бронировании столика через сервис Chibooka!
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-rating">
                                <ul>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                <div class="rating-count">
                                    <a href=""><span>30</span> отзывов</a>
                                </div>
                            </div>
                            <div class="catalog-bottom">
                                <div class="catalog-bottom__left"><strong class="catalog-number">21</strong> Столов свободно</div>
                                <div class="catalog-bottom__btn">
                                    <button class="btn btn-success btn-sm">зачибучить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item js-catalog-item">
                        <div class="catalog-img">
                            <img src="images/favorite-1.jpg" alt="">
                        </div>
                        <div class="catalog-description">
                            <div class="catalog-like">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="catalog-absolute">
                                <div class="catalog-heading">44 Favorite Place</div>
                                <p><strong>Ресторан.</strong> Средний чек: 112 гривен</p>
                                <p><strong>Адрес:</strong> ул. Пушкинская, 44 – <a href="#">от вас 455 метров</a></p>
                                <div class="catalog-hover js-catalog-hover">
                                    <p><strong>Кухня:</strong> Восточноевропейская, Украинская, Итальянская</p>
                                    <p><strong>Время раб.:</strong>пн-пт: с 9 до 21; сб-вс: с 10 до 22</p>
                                    <div class="catalog-promo">
                                        <div class="promo-icon">
                                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                        </div>
                                        Скидка на всё меню в праздничные дни при бронировании столика через сервис Chibooka!
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-rating">
                                <ul>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                <div class="rating-count">
                                    <a href=""><span>30</span> отзывов</a>
                                </div>
                            </div>
                            <div class="catalog-bottom">
                                <div class="catalog-bottom__left"><strong class="catalog-number">21</strong> Столов свободно</div>
                                <div class="catalog-bottom__btn">
                                    <button class="btn btn-success btn-sm">зачибучить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="catalog-item js-catalog-item">
                        <div class="catalog-img">
                            <img src="images/favorite-1.jpg" alt="">
                        </div>
                        <div class="catalog-description">
                            <div class="catalog-like">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="catalog-absolute">
                                <div class="catalog-heading">44 Favorite Place</div>
                                <p><strong>Ресторан.</strong> Средний чек: 112 гривен</p>
                                <p><strong>Адрес:</strong> ул. Пушкинская, 44 – <a href="#">от вас 455 метров</a></p>
                                <div class="catalog-hover js-catalog-hover">
                                    <p><strong>Кухня:</strong> Восточноевропейская, Украинская, Итальянская</p>
                                    <p><strong>Время раб.:</strong>пн-пт: с 9 до 21; сб-вс: с 10 до 22</p>
                                    <div class="catalog-promo">
                                        <div class="promo-icon">
                                            <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                        </div>
                                        Скидка на всё меню в праздничные дни при бронировании столика через сервис Chibooka!
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-rating">
                                <ul>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                <div class="rating-count">
                                    <a href=""><span>30</span> отзывов</a>
                                </div>
                            </div>
                            <div class="catalog-bottom">
                                <div class="catalog-bottom__left"><strong class="catalog-number">21</strong> Столов свободно</div>
                                <div class="catalog-bottom__btn">
                                    <button class="btn btn-success btn-sm">зачибучить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
//= footer.html