//= header.html
<div class="banner" style="background-image: url(images/header-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrapper">
                    <div class="search-popup js-popup">
                        <div class="search-result js-search-result">
                            <div class="row">
                                <div class="col-md-2 col-sm-4">
                                    <div class="search-popup__item search-popup__item--first">
                                        <div class="form-label">Тип заведения</div>
                                        <label for="radio-1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="pab" checked id="pab-1">
                                            <span class="fake-checkbox"></span>
                                            <span>Бар</span>
                                        </label>
                                        <label for="pab-2" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="pab" id="pab-2">
                                            <span class="fake-checkbox"></span>
                                            <span>Паб</span>
                                        </label>
                                        <label for="pab-3" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="pab" id="pab-3">
                                            <span class="fake-checkbox"></span>
                                            <span>Караоке</span>
                                        </label>
                                        <label for="pab-4" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="pab" id="pab-4">
                                            <span class="fake-checkbox"></span>
                                            <span>Ресторан</span>
                                        </label>
                                        <label for="pab-5" class="custom-checkbox custom-checkbox--search">
                                            <input type="radio" name="pab" id="pab-5">
                                            <span class="fake-checkbox"></span>
                                            <span>Пиццерия</span>
                                        </label>
                                        <label for="pab-6" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="pab" id="pab-6">
                                            <span class="fake-checkbox"></span>
                                            <span>Кафе</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <div class="search-popup__item">
                                        <div class="form-label">Цель визита</div>
                                        <label for="breakfast" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" checked id="breakfast">
                                            <span class="fake-checkbox"></span>
                                            <span>Завтрак</span>
                                        </label>
                                        <label for="dinner" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" id="dinner">
                                            <span class="fake-checkbox"></span>
                                            <span>Ужин</span>
                                        </label>
                                        <label for="buisness" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" id="buisness">
                                            <span class="fake-checkbox"></span>
                                            <span>Деловая встреча</span>
                                        </label>
                                        <label for="lanch-1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" id="lanch-1">
                                            <span class="fake-checkbox"></span>
                                            <span>Обед</span>
                                        </label>
                                        <label for="lanch" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" id="lanch">
                                            <span class="fake-checkbox"></span>
                                            <span>Ланч</span>
                                        </label>
                                        <label for="date" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat" id="date">
                                            <span class="fake-checkbox"></span>
                                            <span>Свидание</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <div class="search-popup__item">
                                        <div class="form-label">Цель визита</div>
                                        <label for="breakfast1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" checked id="breakfast1">
                                            <span class="fake-checkbox"></span>
                                            <span>Завтрак</span>
                                        </label>
                                        <label for="dinner1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" id="dinner1">
                                            <span class="fake-checkbox"></span>
                                            <span>Ужин</span>
                                        </label>
                                        <label for="buisness1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" id="buisness1">
                                            <span class="fake-checkbox"></span>
                                            <span>Деловая встреча</span>
                                        </label>
                                        <label for="lanch-11" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" id="lanch-11">
                                            <span class="fake-checkbox"></span>
                                            <span>Обед</span>
                                        </label>
                                        <label for="lanch1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" id="lanch1">
                                            <span class="fake-checkbox"></span>
                                            <span>Ланч</span>
                                        </label>
                                        <label for="date1" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" name="eat1" id="date1">
                                            <span class="fake-checkbox"></span>
                                            <span>Свидание</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <div class="search-popup__item">
                                        <div class="form-label">Средний чек</div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="От">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="До">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <div class="search-popup__item">
                                        <div class="form-label">Кухня</div>
                                        <label for="japonise" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" checked id="japonise">
                                            <span class="fake-checkbox"></span>
                                            <span>Японская</span>
                                        </label>
                                        <label for="ukranian" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" id="ukranian">
                                            <span class="fake-checkbox"></span>
                                            <span>Укранская</span>
                                        </label>
                                        <label for="italian" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" id="italian">
                                            <span class="fake-checkbox"></span>
                                            <span>Итальянская</span>
                                        </label>
                                        <label for="tay" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" id="tay">
                                            <span class="fake-checkbox"></span>
                                            <span>Тайско-китайская</span>
                                        </label>
                                        <label for="fast" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" id="fast">
                                            <span class="fake-checkbox"></span>
                                            <span>Фаст-фуд</span>
                                        </label>
                                        <label for="franch" class="custom-checkbox custom-checkbox--search">
                                            <input type="checkbox" id="franch">
                                            <span class="fake-checkbox"></span>
                                            <span>Французская</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-popup__item">
                                        <div class="form-label">Место для вас</div>
                                        <select class="selectpicker">
                                            <option>9:00</option>
                                            <option>10:00</option>
                                            <option>11:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="search-popup__bottom">
                                <button class="btn btn-sm btn-warning">сбросить</button>
                                <button class="btn btn-sm btn-success">показать <span>121</span></button>
                                <a class="popup-close js-popup-link">Закрыть</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="search-heading">
                                Результаты поиска
                            </div>
                            <div class="search-holder">
                                <div class="row">
                                    <div class="search-item">
                                        <div class="search-label">Кол-во</div>
                                        <select class="selectpicker">
                                            <option>5 человек</option>
                                            <option>6 человек</option>
                                            <option>7 человек</option>
                                        </select>
                                    </div>
                                    <div class="search-item">
                                        <div class="search-label">Дата</div>
                                        <div class='input-group date'>
                                            <input type='text' class="form-control" id='datetimepicker1' placeholder="выберите дату">
                                            <span class="input-group-addon">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="search-item">
                                        <div class="search-label">Время</div>
                                        <div class='input-group date'>
                                            <input type='text' class="form-control" id='datetimepicker3' placeholder="Выберите время">
                                            <span class="input-group-addon">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="search-item search">
                                        <div class="search-icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                        <select class="selectpicker" data-live-search="true">
                                            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                            <option data-tokens="Burger, Shake and a Smile">Burger, Shake and a Smile</option>
                                            <option data-tokens="Sugar Spice and all things nice">Sugar, Spice and all things nice</option>
                                        </select>
                                    </div>
                                    <div class="search-item">
                                        <span class="search-title js-popup-link">Расширеный поиск</span>
                                        <button class="btn btn-success btn-lg">Подобрать заведение</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sort">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="sort-toolbar">
                        <div class="sort-title">Сортировать по</div>
                        <select class="selectpicker">
                            <option>рейтингу</option>
                            <option>среднему чеку</option>
                            <option>расстоянию</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="sort-icons">
                        <ul>
                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-map" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th-large" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map" class="embed-responsive embed-responsive-16by9">
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.20?sensor=false"></script>
<script>
</script>
//= footer.html