.modal {
    &-content {
        overflow: hidden;
        box-shadow: none;
        border: none;
        border-radius: 4px;
        background-color: transparent;
    }
    &-dialog {
        width: 750px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%)!important;
        @include tablet {
        	width: 90%;
        	position: static;
        	margin-top: 50px;
        	transform: translate(0, 0)!important;
        }

        &--big {
            position: static;
            margin: 50px auto 0;
            transform: translate(0, 0)!important;
        }
    }
    &-tabs {
        border: none;
        background-color: #522a6b;
        padding: 40px 13%;
        margin: 0 -15px;
        @include tablet {
			padding: 30px 8%;
		}
        li {
            width: 50%;
            padding: 0 15px;


            a {
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                font-size: 0.77rem;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                transition: all 0.3s;
            }
            &.active {
                a {
                    background-color: #fff;
                    color: #522a6b;
                }
            }
            &:hover {
                a {
                    color: #522a6b;
                }
            }
        }
    }
    &-tab__content {
        padding: 35px 13%;
		background-color: #fff;
		@include tablet {
			padding: 30px 8% 15px;
		}
        .btn-sm {
            min-width: 165px;
            padding: 9px 20px;
        }
    }
    .bootstrap-select>.dropdown-toggle {
        padding: 7px 20px;
    }
}

.modal-header {
    background-color: #522a6b;
    color: #fff;
    border: none;
    padding: 23px 18.8% 30px;
    @include tablet {
        padding: 30px 7%;
    }
}

.modal-title {
    position: relative;
    font-size: 2.07rem;
    margin-bottom: 8px;
    [class^="fa"] {
        position: absolute;
        top: 9px;
        left: -44px;
        font-size: 2.07rem;
    }
    &--relative {
        position: relative;
    }
}



.modal-body {
    @extend .modal-tab__content;
    padding: 35px 13% 0;
    border: none;
    @include tablet {
        padding: 30px 7% 15px;
    }
}

.modal-body__bottom {
    padding: 35px 13%;
    background-color: #f0f1f0;
    font-size: 0.94rem;
    color: #522a6b;
    margin-top: -1px;
    @include tablet {
        padding: 30px 7% 15px;
    }
    &--holder {
        height: 0;
        overflow: hidden;
    }
    p {
        margin-bottom: 20px;
    }
}

.modal-bottom__heading {
    font-weight: 600;
    font-size: 1rem;
    color: #522a6b;
    margin-bottom: 10px;
}

.social-authorize {
	margin-bottom: 30px;
	@include tablet {
		margin-bottom: 15px;
	}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 29px;
            }
            a {
                width: 26px;
                height: 26px;
                border-radius: 3px;
                line-height: 26px;
                padding: 0 5px;
                display: block;
                font-size: 15px;
                text-align: center;
                color: #fff;
                background-color: #522a6b;
                transition: all 0.3s;
                &:hover {
                    background-color: #fff;
                    color: #522a6b;
                }
            }
        }
    }
}

.rools {
	color: #949596;
	font-size: 0.84rem;
	a {
		color: #e94f1b;
		font-weight: 600;
	}
}

.code-wrapper,
.phone-wrapper {
    height: 0;
    overflow: hidden;
}

.forgot-link {
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.bron {
    &-top {
        @include clearfix;
        padding-bottom: 30px;
    }
    &-img {
        width: 165px;
        float: left;
    }
    &-text {
        width: calc(100% - 165px);
        padding-left: 30px;
        float: left;
    }
    &-heading {
        font-size: 1.38rem;
        font-weight: 700;
    }
    &-rating {
        @extend .catalog-rating;
        padding-top: 0;
        padding-bottom: 0;
    }
    &-form-heading {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-info {
        p {
            margin-bottom: 5px;
        }
    }
    &-bottom {
        a {
            color: #e94f1b;
        }
        margin-bottom: 40px;
    }
    &-btn {
        padding-bottom: 50px;
        .btn {
            width: 165px;
            margin-right: 20px;
        }
    }
}