.modal {
    &-content {
        overflow: hidden;
        box-shadow: none;
        border: none;
        border-radius: 4px;
        background-color: transparent;
    }
    &-dialog {
        width: 750px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%)!important;
        @include mobile {
        	width: 90%;
        	position: static;
        	margin-top: 50px;
        	transform: translate(0, 0)!important;
        }
    }
    &-tabs {
        border: none;
        background-color: #522a6b;
        padding: 35px 13%;
        margin: 0 -15px;
        @include tablet {
			padding: 30px 8%;
		}
        li {
            width: 50%;
            padding: 0 15px;


            a {
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                font-size: 0.77rem;
                font-weight: 600;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                transition: all 0.3s;
            }
            &.active {
                a {
                    background-color: #fff;
                    color: #522a6b;
                }
            }
            &:hover {
                a {
                    color: #522a6b;
                }
            }
        }
    }
    &-tab__content {
        padding: 35px 13%;
		background-color: #fff;
		@include tablet {
			padding: 30px 8% 15px;
		}
        .btn-sm {
            min-width: 165px;
        }
    }
}

.social-authorize {
	margin-bottom: 30px;
	@include tablet {
		margin-bottom: 15px;
	}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 25px;
            }
            a {
                width: 26px;
                height: 26px;
                border-radius: 3px;
                line-height: 26px;
                padding: 0 5px;
                display: block;
                font-size: 15px;
                text-align: center;
                color: #fff;
                background-color: #522a6b;
                transition: all 0.3s;
                &:hover {
                    background-color: #fff;
                    color: #522a6b;
                }
            }
        }
    }
}

.rools {
	color: #949596;
	font-size: 0.84rem;
	a {
		color: #e94f1b;
		font-weight: 600;
	}
}