.cabinet {
    .search-item {
        width: 25%;
        @include mobile {
            width: 100%;
            float: none;
        }
    }
    &-form {
        padding-top: 35px;
        padding-bottom: 40px;
        padding-right: 15%;
        .checkbox-inline,
        .radio-inline {
            padding-left: 0;
        }
        @include mini-laptop {
            padding-right: 0;
        }

        .form-control {
            height: 40px;
        }
    }
    &-img {
        margin-top: -53%;
        cursor: url(../images/edit.cur), auto;
        @include tablet {
            margin-top: 0;
            padding-top: 35px;
        }
        @include mobile {
            text-align: center;
        }
        img {
            border-radius: 5px;
        }
    }
}

.pasword-change__holder {
    height: 0;
    overflow: hidden;
    text-align: right;
    @include mobile {
        text-align: center;
    }
}

.change-pass {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}