.cabinet {
    &-form {
        padding-top: 35px;
        padding-bottom: 40px;
        padding-right: 15%;
        @include tablet {
        	padding-right: 0;
        }

        .form-control {
            height: 40px;
        }
    }
    &-img {
    	margin-top: -53%;
    	@include tablet {
    		margin-top: 0;
    		padding-top: 35px;
    	}
    	img {
    		border-radius: 5px;
    	}
    }
}

