.navbar {
    position: relative;
    background-color: #522a6b;
    margin: 0;
    min-height: 0;
    border: none;
    font-size: 0;
    border-radius: 5px 0 0 5px;
    @include tablet {
        border-radius: 0;
        @include clearfix;
        padding-right: 45px;	
    }
    &:after {
        content: '';
        position: absolute;
        left: 100%;
        width: 9999px;
        top: 0;
        bottom: 0;
        background-color: #522a6b;
        height: 68px;
        transition: height 0.3s;
        @include mini-laptop {
            height: 46px;
        }
        @include tablet {
            display: none;
        }
    }
    ul {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 30px;
        margin: 0;
        font-size: 0;
        @include clearfix;
        @include mini-laptop {
            padding-left: 10px;
            width: 75%;
            text-align: center;
        }
        @include tablet {
            text-align: left;
            padding-top: 90px;
            width: 100%;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            @include tablet {
                display: block;
            }
            &:not(:last-child) {
                padding-right: 15px;
                @include mini-laptop {
                    padding-right: 8px;
                }
            }
            a {
                position: relative;
                display: block;
                padding: 25px 0;
                font-size: 1rem;
                color: #fff;
                font-weight: 600;
                transition: padding 0.3s;
                @include mini-laptop {
                    padding: 15px 0;
                }
                @include tablet {
                    padding: 10px 0;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: scale(0);
                    transition: all 0.3s;
                    height: 3px;
                    background-color: #e94f1b;
                }

                &:hover {
                    text-decoration: none;
                    &:before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .location {
        display: inline-block;
        vertical-align: middle;
        padding: 25px 45px;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px 0 0 5px;
        background-color: #e94f1b;
        transition: padding 0.3s;
        @include mini-laptop {
            padding: 15px 20px;
            width: 14%;
            float: left;
            display: block;
        }
        @include tablet {
            float: right;	
            width: auto;
            padding: 15px 8px;
            border-radius: 0;	
        }
        span {
            margin-right: 10px;
            font-weight: 600;
        }
    }
}

.mobile-navbar {
    display: inline-block;
    vertical-align: middle;
    @include mini-laptop {
    	width: 86%;	
    }
    @include tablet {
        right: 0;
        top: 0;
        position: fixed;
        width: 60%;
        height: 100vh;
        background-color: #e94f1b;
        z-index: 1;
        padding-left: 20px;
        transform: translate(100%, 0);
        transition: all 0.3s;
        &.open {
        	transform: translate(0, 0);
        }
    }
}


.hamburger-btn {
	display: none;	
    width: 30px;
    height: 25px;
    position: fixed;	
    top: 13px;	
    right: 15px;	
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2;	
    @include tablet {
    	display: block;	
    }
    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }
        &:nth-child(4) {
            top: 16px;
        }
    }
    &.open {
        span {
            &:nth-child(1) {
                top: 16px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 16px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.toolbar {
	display: inline-block;	
	vertical-align: middle;	
	font-size: 1.4rem;	
	color: #fff;
	.like {
		position: relative;	
		@include mini-laptop {
			margin-left: 20px;	
		}
		margin-right: 20px;	
		&-count {
			position: absolute;	
			width: 18px;	
			height: 18px;
			line-height: 18px;	
			border-radius: 18px;
			text-align: center;
			padding: 0 3px;	
			top: -5px;	
			right: -11px;	
			font-size: 0.77rem;	
			background-color: #ee4d14;
		}
	}
	.bell {
		margin-right: 20px;	
	}
	div {
		display: inline-block;	
		vertical-align: middle;	
		cursor: pointer;
	}
}