.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 68px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }
    @include mini-laptop {
        padding-top: 48px;
    }
    @include tablet {
        padding-top: 46px;
    }
    &-menu {
        position: relative;
        list-style-type: none;
        padding: 0 56px 0 15px;
        margin: 0;
        background-color: #522a6b;
        display: inline-block;
        vertical-align: middle;
        border-radius: 0 5px 5px 0;
        @include tablet {
            padding-right: 15px;
        }
        &:after {
            content: '';
            position: absolute;
            right: calc(100% - 1px);
            top: 0;
            bottom: 0;
            width: 9999px;
            background-color: #522a6b;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            @include mobile-portret {
                display: block;
            }
            &:not(:last-child) {
                padding-right: 14px;
                @include mini-laptop {
                    padding-right: 8px;
                }
            }
            a,
            span {
                position: relative;
                display: block;
                padding: 26px 0;
                font-size: 1rem;
                color: #fff;
                font-weight: 600;
                @include mini-laptop {
                    padding: 15px 0;
                }
                @include tablet {
                    padding: 10px 0;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: scale(0);
                    transition: all 0.3s;
                    height: 3px;
                    background-color: #e94f1b;
                }

                &:hover {
                    text-decoration: none;
                    &:before {
                        transform: scale(1);
                    }
                }
            }
            &.active {
                a,
                span {
                    text-decoration: none;
                    &:before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &-like {
    	position: relative;
    	z-index: 1;
    	margin-right: 53px;
    	font-size: 27px;
    	display: inline-block;
    	vertical-align: middle;
    	color: #fff;
        @include mini-laptop {
            margin-right: 10px;
        }
        @include tablet {
            font-size: 17px;
        }
    }
    &-navbar {
        min-height: 60px;
        background-color: #522a6b;
        &--resto {
            position: absolute;
            bottom: 0;
            right: 100%;
        }
    }
}