.footer {
    display: table-footer-group;
    &-top {
        padding: 53px 0 30px;
        background-color: #522a6b;
        color: #fff;
        @include tablet {
            padding: 30px 0;
        }
        @include mobile {
            text-align: center;
        }
    }
    &-logo {
        padding-left: 6px;
        display: block;
        @include mobile {
            text-align: center;
            padding-bottom: 30px;
        }
    }
    &-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include mobile {
            margin-bottom: 30px;
        }
        li {
            line-height: 1.2;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
            a {
                font-size: 12px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
    &-bottom {
        padding: 25px 0;
        background-color: #f7f8f7;
        @include tablet {
            padding: 0;
        }
        @include mobile {
            text-align: center;
        }
        a {
            font-weight: 600;
            color: #e94f1b;
        }
    }
    &-info {
        text-align: right;
        @include tablet {
            text-align: center;
        }
        @include mobile {
            text-align: center;
        }
    }
    &-subscribe {
        @include tablet {
            padding-top: 30px;
            margin: 0 -15px;
            clear: both;
            @include clearfix;
        }
        @include mobile {
            padding-top: 0;
            margin: 0;
        }
        .btn-sm {
            width: 100%;
            padding: 9px 20px;
        }
        .form-control {
            font-size: 0.92rem;
            color: #272727;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #272727;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #272727;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #272727;
            }
        }
        .form-group {
            @include tablet {
                margin-bottom: 0;
                float: left;
                padding: 0 15px;
                width: 50%;
            }
            @include mobile {
                width: 100%;
                float: none;
                margin-bottom: 10px;
            }
            &:first-child {
                margin-bottom: 11px;
                @include mini-laptop {
                    margin-bottom: 10px;
                }
                @include tablet {
                    margin-bottom: 0;
                }
                @include mobile {
                    margin-bottom: 10px;
                }
            }
        }
    }
    &-social {
        list-style-type: none;
        padding: 16px 0 0 1px;
        margin: 0;
        @include mobile {
            padding: 0 0 30px;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 27px;
            }
            a {
                display: block;
                color: #fff;
                font-size: 1rem;
            }
        }
    }
}

.copyright {
    @include tablet {
        padding: 10px 0;
        text-align: center;
    }
    &~div {
        @include tablet {
            text-align: center;
            padding: 10px 0;
        }
        @include mobile {
            padding-top: 0;
        }
    }
}