.catalog {
    &-list {
        padding: 40px 0 97px;
        @include mini-laptop {
            padding: 40px 0;
        }
        @include mobile {
            padding: 30px 0;
        }
        [class^="col-"] {
            &:not(:last-child) {
                .catalog-item {
                    @include mobile {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    &-item {
        border-radius: 5px;
    }
    &-description {
        padding: 28px 28px 32px;
        border: 1px solid #e5e5e5;
        @include tablet {
            padding: 15px;
        }
        p {
            margin: 0 0 8px;
        }
        a {
            color: #e94f1b;
        }
    }
    &-heading {
        position: relative;
        font-size: 1.38rem;
        font-weight: 700;
        color: #522a6b;
        padding-bottom: 10px;
        margin-bottom: 7px;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 66px;
            background-color: #ee4d14;
        }
    }
    &-img {
        max-height: 233px;
        overflow: hidden;
        @include mobile {
            max-height: none;
            overflow: visible;
        }
        img {
            @include mobile {
                width: 100%;
            }
        }
    }
    &-bottom {

        font-size: 0;
        &__left {
            font-size: 0.94rem;
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            line-height: 1.2;
            @include tablet {
                width: 100%;
                text-align: center;
                display: block;
                margin-bottom: 10px;
            }
        }
        &__btn {
            width: 50%;
            display: inline-block;
            vertical-align: bottom;
            text-align: right;
            @include tablet {
                display: block;
                width: 100%;
                text-align: center;
            }
            .btn {
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                padding: 9px 20px;
            }
        }
    }
    &-number {
        font-size: 1.38rem;
        margin-right: 5px;
    }

    &-rating {
        padding-top: 48px;
        padding-bottom: 22px;
        @include tablet {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0 20px 0 0;
            font-size: 0;
            @include tablet {
                margin-right: 10px;
            }
            li {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                color: #ffb600;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 6px;
                    @include tablet {
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}

.rating-count {
    display: inline-block;
    vertical-align: middle;
    a {
        color: #ee4d14;
        font-size: 0.94rem;
        font-weight: 600;
    }
}