.catalog {
    &-list {
        padding: 40px 0 67px;
        @include mini-laptop {
            padding: 40px 0;
        }
        @include mobile {
            padding: 30px 0;
        }
        [class^="col-"] {
            &:not(:last-child) {
                .catalog-item {
                    @include mobile {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    &-like {
        position: absolute;
        top: -26px;
        right: 30px;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #e94f1b;
        color: #fff;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
        transition: opacity 0.3s;
        &.active {
            opacity: 1;
        }
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5rem;
        }
    }
    &-item {
        border-radius: 5px;
        margin-bottom: 30px;
        
        &.map-item {
            margin: 0 0 -2px;
            &:after {
                position: absolute;
                content: '';
                right: 100%;
                top: 50%;
                transform: translate(0, -50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12.5px 50px 12.5px 0;
                border-color: transparent #fff transparent transparent;
            }
            .catalog-description {
                border: none;
            }
        }
        &:hover {
            .catalog-like {
                opacity: 1;
                &.active {
                    opacity: 1;
                }
            }
        }
        
    }
    &-hover {
        overflow: hidden;
        
        &.active {
            overflow: visible;
            opacity: 1!important;
        }
    }
    &-promo {
        position: relative;
        margin-top: 30px;
        padding-left: 70px;
        .promo-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #522a6b;
            color: #fff;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 1.3rem;
                transform: translate(-50%, -50%);
            }
        }
    }

    &-absolute {
        transition: transform 0.5s;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -1px;
        right: -1px;
        padding: 27px 30px 0;
        z-index: 2;
        border: 1px solid #e5e5e5;
        border-bottom: none;
        border-top: none;
    }

    &-description {
        position: relative;
        padding: 28px 28px 32px;
        border: 1px solid #e5e5e5;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        transition: margin-top 0.5s;
        @include tablet {
            padding: 15px;
        }
        p {
            margin: 0 0 8px;
        }
        a {
            color: #e94f1b;
        }
    }
    &-heading {
        position: relative;
        font-size: 1.38rem;
        font-weight: 700;
        color: #522a6b;
        padding-bottom: 10px;
        margin-bottom: 7px;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 66px;
            background-color: #ee4d14;
        }
    }
    &-img {
        max-height: 233px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        @include mobile {
            max-height: none;
            overflow: visible;
        }
        img {
            @include mobile {
                width: 100%;
            }
        }
    }
    &-bottom {
        @include tablet {
            text-align: center;
        }
        font-size: 0;
        &__left {
            font-size: 0.94rem;
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            line-height: 1.2;
            @include mini-laptop {
                font-size: 0.84rem;
            }
            @include tablet {
                width: 100%;
                text-align: center;
                display: block;
                margin-bottom: 10px;
            }
        }
        &__btn {
            position: relative;
            width: 50%;
            display: inline-block;
            vertical-align: bottom;
            text-align: right;
            @include tablet {
                width: auto;
                text-align: center;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: -7px;
                right: -10px;
                width: 50px;
                height: 54px;
                background-image: url('../images/btn-bg.png');
                background-repeat: no-repeat;
                background-size: 50px 54px;
                transform: scale(0);
                transition: transform 0.3s;
            }
            .btn {
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                padding: 9px 20px;
            }
            &:hover {
                &:after {
                    transform: scale(1);
                }
                .btn {
                    text-align: left;
                }
            }
        }
    }
    &-number {
        font-size: 1.38rem;
        margin-right: 5px;
    }

    &-rating {
        padding-bottom: 22px;
        @include tablet {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 15px;
        }
        @include mobile {
            text-align: center;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0 20px 0 0;
            font-size: 0;
            @include tablet {
                margin-right: 10px;
            }
            li {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                color: #ffb600;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 6px;
                    @include tablet {
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}

.rating-count {
    display: inline-block;
    vertical-align: middle;
    a {
        color: #ee4d14;
        font-size: 0.94rem;
        font-weight: 600;
    }
}

.rating-value {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.38rem;
    color: #e94f1b;
    margin-right: 20px;
}