.blog {
	padding-top: 80px;
	padding-bottom: 7%;
	@include mobile {
		padding-top: 40px;	
		padding-bottom: 30px;	
	}
	.blog-item {
		margin-bottom: 30px;
		.catalog-img {
			max-height: 236px;
			
		}
		
	}
	&-navbar {
		
			&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: calc(100% - 15px);
			width: 9999px;
			background-color: #522a6b;
		}
	}
	&-list {
		font-size: 0;	
		[class^="col-"] {
			display: inline-block;	
			vertical-align: top;	
			float: none;	
			@include mobile {
				display: block;	
			}
		}
		
	}
	&-text,
	&-date {
		font-size: 1rem;	
	}
}

.banner-bottom-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}

.pagination {
	margin: 0;
	@include mobile {
		text-align: center;
		display: block;
	}
}

.pagination-left {
	display: inline-block;
	vertical-align: middle;
	margin-right: 70px;
	@include mobile {
		margin-right: 0;	
		padding-bottom: 20px;	
	}
}

.pagination-back,
.pagination-next {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 1.15rem;
	&:hover {
		color: #fff;
	}
}

.pagination-next {
	margin-left: 30px;
}

.pagination-back {
	margin-right: 30px;
}

.pagination-right {
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	padding: 0;
	margin: 0;
	@include mobile {
		display: block;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		a,
		span {
			font-size: 1.15rem;
		}
		&.active {
			a,span {
				border-radius: 5px;
				padding: 4px 9px;
				background-color: #522a6b;
				color: #fff;
			}
		}
	}
}

.pagination-arrows-holder {
	position: relative;
	background-color: #f5f5f5;
	padding: 22px 15px;
	border-radius: 5px;
	width: 126px;
	overflow: hidden;
	font-size: 1.5rem;
	@include mobile {
		display: block;	
		padding: 10px 15px;
	}
	&:after {
		content: '|';
		position: absolute;
		left: 45%;
		top: 19px;
		height: 16px;
		color: #522a6b;

		@include tablet {
			top: 21px;
			left: 48%;
		}
		@include mobile {
			top: 10px;
		}
	}
}


.pagination-arrow-prev {
	float: left;
	display: block;
	cursor: pointer;
}

.pagination-arrow-next {
	float: right;
	display: block;	
	cursor: pointer;
}

.breadcrumbs {
	@include clearfix;
}



.article {
	&-detail {
		padding-top: 50px;
		padding-bottom: 65px;
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			li {
				position: relative;
				padding-left: 43px;
				margin-bottom: 20px;
				line-height: 20px;

				@include tablet {
					padding-left: 20px;
				}
				&:before {
					content: '';
					position: absolute;
					top: 6px;
					left: 0;
					width: 8px;
					height: 8px;
					border-radius: 8px;
					background-color: #522a6b;

					@include tablet {
						width: 5px;
						height: 5px;
					}
				}
			}
		}
		strong {
			font-weight: 600;
		}
	}
	&-text {
		p {
			margin-bottom: 40px;
    		line-height: 20px;
    		@include tablet {
    			margin-bottom: 20px;
    		}
		}
	}
	&-img {
		margin-bottom: 21px;
	}
}

.article-h2,
h2 {
	font-weight: 700;
	font-size: 1.38rem;
	margin: 23px 0 24px;
}

