.btn {
	transition: all 0.3s;
	font-size: 0.77rem;
	text-transform: uppercase;
	transition: all 0.3s;
}

// colors

.btn-success {
	background-color: #e94f1b;
	border: 1px solid #e94f1b;
	color: #fff;

	&:hover,
	&:focus,
	&:active,
	&:focus:active,
	&:active:hover {
		background-color: #e13900;
		border: 1px solid #e94f1b;
		color: #fff;
		outline: none;
	}
}

.btn-warning {
	background-color: #522a6b;
	color: #fff;
	border: 1px solid #522a6b;
	&:hover,
	&:focus,
	&:active,
	&:focus:active,
	&:active:hover {
		background-color: #2f0847;
		border: 1px solid #2f0847;
		outline: none;
	}
}


// sizes

.btn-sm {
	padding: 12px 20px;
	border-radius: 5px;
}

.btn-xs {
	padding: 12px 10px;
	border-radius: 5px;
}