.search {
    &-heading {
        font-size: 2.07rem;
        color: #fff;
        padding: 5% 0px 12px;
        @include tablet {
            padding-left: 20px;
        }
    }

    &-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -33px;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        cursor: pointer;
        z-index: 1;
        a {
            color: #fff;
        }
        @include tablet {
            font-size: 0.9rem;
        }
        @include mobile {
            bottom: -29px;
        }
        i {
            margin-right: 10px;
        }
    }
    &-holder {
        @include clearfix;
        border-radius: 5px;
        margin: 0 15px;
    }

    &-item {
        position: relative;
        float: left;
        width: 16.666%;
        padding: 15px 25px 10px;
        height: 65px;
        
        background-color: #fff;
        @include mini-laptop {
            padding: 15px 10px 10px;
        }
        @include tablet {
            background-color: #fff;
        }
        @include mobile {
            width: 100%;
            float: none;
        }

        &:not(:last-child) {
            border-right: 1px solid #f2f2f2;
        }
        &:first-child {
            border-radius: 5px 0 0 5px;
            @include tablet {
                border-radius: 0;
            }
            .bootstrap-select>.dropdown-toggle {
                padding-top: 2px;
                padding-bottom: 0;
                padding-left: 0;
                border: none;
                .caret {
                    top: 25%;
                    right: 12px;
                    @include mobile {
                        right: -3px;
                    }
                }
            }
        }
        &:last-child {
            border-radius: 0 7px 7px 0;
            @include tablet {
                border-radius: 0;
            }
            @include mobile {
                margin-bottom: 0;
            }
        }


        .btn-lg {
            left: 0;
            right: 0;
            top: 0;
            height: 65px;
            width: 100%;
            border-radius: 0 5px 5px 0;
            position: absolute;
            font-size: 0.94rem;
            text-transform: none;
            @include mini-laptop {
                padding: 10px 5px;  
                border-radius: 0;
                text-transform: uppercase;
                font-size: 0.83rem;
            }
            @include tablet {
                padding: 10px 3px;
            }
            @include mobile {
                height: auto;
                padding: 20px 0;
                bottom: 0;
            }
        }
        &.search {
            padding: 0;
            .bs-searchbox {
                .form-control {
                    padding: 15px 20px;
                }
            }
            .search-title {
                @include mobile {
                    bottom: -95px;
                }
                
            }
        }
        .input-group {
            width: 100%;
        }
    }
    &-icon {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%);
        z-index: 4;
        font-size: 1rem;
        
    }
    &-label {
        font-size: 0.84rem;
        color: #848586;
    }
    &-wrapper {
        position: relative;
        margin-bottom: 7%;
        @include tablet {
            margin: 0 -15px;
        }
    }
    &-popup {
        position: absolute;
        top: 100%;
        right: -15px;
        z-index: -1;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        background-color: #fdfdfd;
        border: 1px solid #f2f2f2;
        border-top: none;
        border-radius: 0 0 5px 5px;
        margin: -1px 15px 0;
        transition: opacity 0.5s;
        text-align: right;  
        > .row {
            font-size: 0;   
            [class^="col-"] {
                float: none;    
                display: inline-block;  
                vertical-align: top;    
            }
        }
        
        &.active {
            opacity: 1;
            z-index: 11;
        }
        @include tablet {
            margin: 0 15px;
            padding-right: 15px;
        }
        .row {
            @include tablet {
                font-size: 0;
            }
        }

        [class^="col-"] {
            @include tablet {
                display: inline-block;
                float: none;
                vertical-align: top;
            }
            &:last-child {
                .search-popup__item {
                    padding-right: 40px;
                    @include tablet {
                        padding-right: 0;
                    }
                }
            }
        }

        &__item {
            padding-top: 30px;
            text-align: left;   
            @include tablet {
                padding-left: 20px;
            }
            &--first {
                padding-left: 20px;
                @include tablet {
                    padding-right: 20px;
                }
            }
        }
        &__bottom {
            text-align: right;
            padding: 50px 20px 55px 0;
            @include tablet {
                text-align: center;
                padding-right: 0;
                margin-right: -15px;
            }
            .btn {
                margin-left: 30px;
                width: 165px;
                @include tablet {
                    width: 90%;
                    margin-left: 0;
                    display: block;
                    margin: 0 auto 10px;
                }
            }
        }
    }
    &-value {
        padding-top: 5px;
        display: block;
    }
}

.search-control {
    margin-top: 24px;
    padding: 0 10px 0 25px;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    &:focus {
        outline: none;
    }
}

.sort {
    position: relative;
    @include tablet {
        min-height: 50px;   
    }
    &:after {
        content: '';
        position: absolute;
        right: calc(100% - 1px);
        top: 0;
        bottom: 0;
        width: 9999px;
        background-color: #522a6b;
        @include tablet {
            display: none;
        }
    }
    &-empty {
        height: 70px;   
        background-color: #522a6b;
        margin: 0 -30px;
        @include mobile {
            display: none;  
        }  
    }
    &-toolbar {
        position: relative;
        background-color: #522a6b;
        border-radius: 0 5px 5px 0;
        @include clearfix;
        text-align: right;
        padding-right: 20px;
        /* padding-top: 21px;
        padding-bottom: 21px; */
        @include tablet {
            border-radius: 0;
            text-align: center;
            padding-right: 0;
            margin: 0 -15px;
        }
        &--right {
            text-align: right;
            .pagination-arrows-holder {
                display: inline-block;
                vertical-align: middle;
                background-color: transparent;
                &:after {
                    color: #fff;
                }
                
            }
            .pagination-arrow-prev,
            .pagination-arrow-next {
                color: #fff;
            }
        }
    }
    &-icons {
        @include mobile {
            margin-top: 26px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            @include clearfix;
            @include mobile {
                text-align: center;
            }
            li {
                float: left;
                padding: 5px 19px;
                opacity: 0.4;
                &.active {
                    opacity: 1;
                }
                @include mini-laptop {
                    padding: 5px 10px;
                }
                @include tablet {
                    padding: 10px 15px;
                    float: none;
                    display: inline-block;
                }

                a,
                span {
                    display: block;
                    font-size: 35px;
                    color: #fff;
                }
            }
        }
    }
    &-title {
        color: #fff;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
    .btn-default.active.focus,
    .btn-default.active:focus,
    .btn-default.active:hover,
    .btn-default:active.focus,
    .btn-default:active:focus,
    .btn-default:active:hover,
    .open>.btn-default.dropdown-toggle.focus,
    .open>.btn-default.dropdown-toggle:focus,
    .open>.btn-default.dropdown-toggle:hover {
        background-color: transparent;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu {
        width: auto;
        @include tablet {
            min-width: 150px;
        }
    }
}

.search-item .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu {
    width: 115px;
    max-width: none;
}

.autocomplete-suggestions {
    min-width: 250px;
    margin: 20px 0 0 0;
}

.autocomplete-suggestion {
    padding: 6px 10px!important;
}

.sort-toolbar {
    > p {
        margin: 0;  
        padding: 21px 5px;
        display: inline-block;  
        vertical-align: middle;  
        font-size: 1.2rem;  
        color: #fff;
        
        @include mini-laptop {
            font-size: 1rem;    
        }
        @include tablet {
            padding: 25px 5px;  
            font-size: 1.2rem;  
        }

        span {
            font-weight: bold;  
        }
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        display: inline-block;
        width: 36%;
        vertical-align: middle;
        @include mini-laptop {
            width: 45%; 
        }
        @include tablet {
            width: auto;
        }
    }
    .bootstrap-select>.dropdown-toggle {
        background-color: transparent;
        border: none;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 0;
        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            background-color: transparent;
        }
        .dropdown-menu>.active>a,
        .dropdown-menu>.active>a:focus,
        .dropdown-menu>.active>a:hover {
            background-color: transparent;
        }
    }
    .btn-group.open .dropdown-toggle {
        background-color: transparent;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .caret {
        border-left-color: #fff;
        border-bottom-color: #fff;
    }
    .btn-default.active.focus,
    .btn-default.active:focus,
    .btn-default.active:hover,
    .btn-default:active.focus,
    .btn-default:active:focus,
    .btn-default:active:hover,
    .open>.btn-default.dropdown-toggle.focus,
    .open>.btn-default.dropdown-toggle:focus,
    .open>.btn-default.dropdown-toggle:hover {
        background-color: transparent;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu {
        max-width: none;
        width: 150px;
        left: -40px;
        border-radius: 0;
        margin-top: 0;
        border-top: none;
        .selected {
            a {
                background-color: #522a6b;
                color: #fff;
            }
        }
        a {
            color: #522a6b;
            padding: 10px 20px;
            transition: background-color 0.3s, color 0.3s;
            &:hover {
                color: #fff;
                background-color: #522a6b;
            }
        }
    }
    .bootstrap-select.btn-group .dropdown-toggle .caret {
        @include tablet {
            right: 0;
        }
    }
    &--blog {
        padding: 35px 0;
        @include tablet {
            padding: 15px 0;
        }
    }
    &--inverse {
        @include mobile {
            margin-top: 45px;   
        }
    }
}


// custom bootstrap select
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    display: block;
    @include clearfix;
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        background-color: #522a6b;
        color: #fff;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropdown-menu {
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: none;
        padding: 0;
        max-width: 100%;
        top: 100%;
        li {
            a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .bootstrap-select.btn-group .dropdown-menu li a span.text {
        font-size: 1rem;
    }
    
}


.bootstrap-select.btn-group .no-results {
    margin: 0;
    font-size: 0.84rem;
    padding: 5px 17px;
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
    padding: 0;
}

.bootstrap-select>.dropdown-toggle {
    border: 1px solid #522a6b;
    border-radius: 5px;
    padding: 10px 20px;
    @include mini-laptop {
        padding: 10px;  
    }
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
        box-shadow: none;
        background-color: #fff;
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: #fff;
}

.search {
    .bootstrap-select>.dropdown-toggle {
        border: none;
        padding: 26px 30px 21px 42px;
        @include tablet {
            padding-left: 20px;
        }
    }
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.btn-default.dropdown-toggle.focus,
.open>.btn-default.dropdown-toggle:focus,
.open>.btn-default.dropdown-toggle:hover {
    background-color: #fff;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 1rem;
    color: #522a6b;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    font-size: 0.84rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 18px;
    margin-top: -2px;

    @include mini-laptop {
        right: 7px; 
        margin-top: -3px;   
    }
    @include mobile {
        right: 5px;
    }
}

.caret {
    border: none;
    width: 5px;
    height: 5px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    border-left: 1px solid #522a6b;
    border-bottom: 1px solid #522a6b;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    outline: none;
}



// datepicker bootstrap
.input-group.date {
    .form-control {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        color: #522a6b;
        height: 25px;
    }
    .input-group-addon {
        padding: 0;
        display: table;
        position: absolute;
        right: -12px;
        background: transparent;
        border: none;
        @include mini-laptop {
            right: 5px;
        }
        @include tablet {
            right: 0;
        }
    }
}



.bootstrap-datetimepicker-widget table td.day {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3px;
    text-align: center;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    [class^='fa'] {
        transition: all 0.3s;
    }
    
}

.bootstrap-datetimepicker-widget table td {
    &.disabled {
        color: #ccc;
        background-color: #fff;
        opacity: 0.6;   
        cursor: default;
    }

    &.active {
        font-weight: bold;  
        background-color: #522a6b;
        color: #fff;
    }
}


.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td:hover,
.bootstrap-datetimepicker-widget table th.active,
.bootstrap-datetimepicker-widget table th:hover {
    /* background-color: #522a6b;
    color: #fff;
    [class^='fa'] {
        color: #fff;
    }
    .btn-primary {
        background-color: #522a6b;
        border: 1px solid #522a6b;
    } */
}

.datepicker-days {
    padding: 10px 20px;
    .table-condensed {
    }
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
}

.bootstrap-datetimepicker-widget table td.separator {
    background-color: #fff;
    &:hover {
        background-color: #fff;
    }
}

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td.minute {
    width: 54px;
    height: 54px;
    line-height: 54px;
}

.bootstrap-datetimepicker-widget table td [data-action] {
    padding: 0; 
}

td[data-action="selectHour"] {
    width: 50px!important;    
    height: 50px!important;   
    line-height: 50px!important;  
}

.bootstrap-datetimepicker-widget table td [data-action] span {
    width: 10px;
    height: 10px;
    line-height: 10px;
    color: #522a6b;
}

// map styles
.gm-style-iw {
    width: 360px !important;
    top: 15px !important;
    left: 15px !important;
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    &:after {
        content: '';
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 40px 10px 0;
        border-color: transparent #fff transparent transparent;
    }

    .catalog-absolute {
        position: static;
        border: none;   
        padding: 0; 
    }
}

.popup-close {
    cursor: pointer;
    color: #522a6b;
    font-size: 1rem;
    margin-left: 20px;
    @include tablet {
        margin-left: 0;
    }
}