.search {
    &-heading {
        font-size: 2.07rem;
        color: #fff;
        padding: 5% 0px 12px;
        @include tablet {
            padding-left: 20px;
        }
    }

    &-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }
    &-holder {
        @include clearfix;
        border-radius: 5px;
        margin: 0 15px;
    }

    &-item {
        position: relative;
        float: left;
        width: 20%;
        padding: 15px 38px 10px;
        height: 68px;
        background-color: #fff;

        @include tablet {
            background-color: #fff;
            padding: 15px 20px 10px;
        }
        @include mobile {
            width: 100%;
            float: none;
        }

        &:not(:last-child) {
            border-right: 1px solid #f2f2f2;
        }
        &:first-child {
            border-radius: 5px 0 0 5px;
            @include tablet {
                border-radius: 0;
            }
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
            @include tablet {
                border-radius: 0;
            }
            @include mobile {
                margin-bottom: -11px;
            }
        }
        .btn-lg {
            left: 0;
            right: 0;
            top: 0;
            height: 68px;
            width: 100%;
            border-radius: 0 5px 5px 0;
            position: absolute;
            font-size: 0.94rem;
            text-transform: none;
            @include tablet {
                border-radius: 0;
            }
            @include mobile {
                height: auto;
                padding: 20px 0;
            }
        }
        &.search {
            padding: 0;
            .bs-searchbox {
                .form-control {
                    padding: 15px 20px;
                }
            }
        }
    }
    &-icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
        z-index: 3;
    }
    &-label {
        font-size: 0.84rem;
        color: #848586;
    }
    &-wrapper {
        position: relative;
        margin-bottom: 7%;
        @include tablet {
            margin: 0 -15px;
        }
    }
    &-popup {
        position: absolute;
        top: 100%;
        right: -15px;
        z-index: 2;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        background-color: #fdfdfd;
        /* border-top: 1px solid #fafaf7; */
        border-radius: 0 0 5px 5px;
        margin: -1px 15px 0;
        @include tablet {
            margin: 0;
        }

        &__item {
            padding-top: 30px;
            @include tablet {
                padding-left: 20px;
            }
            &--first {
                padding-left: 20px;
            }
        }
        &__bottom {
            text-align: right;
            padding: 50px 0 55px;
            .btn {
                margin-left: 30px;
                width: 165px;
            }
            @include tablet {
                padding-right: 20px;
            }
        }
    }
    &-value {
        padding-top: 5px;
        display: block;
    }
}

.sort {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: calc(100% - 1px);
        top: 0;
        bottom: 0;
        width: 9999px;
        background-color: #522a6b;
        @include tablet {
            display: none;
        }
    }
    &-toolbar {
        position: relative;
        background-color: #522a6b;
        border-radius: 0 5px 5px 0;
        @include clearfix;
        text-align: right;
        padding-right: 20px;
        padding-top: 21px;
        padding-bottom: 21px;
        @include tablet {
            border-radius: 0;
            text-align: center;
            padding-right: 0;
            margin: 0 -15px;
        }
    }
    &-icons {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 0;
            @include clearfix;
            @include tablet {
                text-align: center;
            }
            li {
                float: left;
                padding: 5px 19px;
                opacity: 0.4;
                &.active {
                    opacity: 1;
                }
                @include mini-laptop {
                    padding: 5px 10px;
                }
                @include tablet {
                    padding: 3px 10px;
                    float: none;
                    display: inline-block;
                }

                a {
                    display: block;
                    font-size: 35px;
                    color: #fff;
                }
            }
        }
    }
    &-title {
        color: #fff;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
}

.sort-toolbar {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        display: inline-block;
        width: 36%;
        vertical-align: middle;
        @include tablet {
            width: auto;
        }
    }
    .bootstrap-select>.dropdown-toggle {
        background-color: transparent;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        &:hover,
        &:focus,
        &:active,
        &:active:focus {
            background-color: transparent;
        }
        .dropdown-menu>.active>a,
        .dropdown-menu>.active>a:focus,
        .dropdown-menu>.active>a:hover {
            background-color: transparent;
        }
    }
    .btn-group.open .dropdown-toggle {
        background-color: transparent;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .caret {
        border-left-color: #fff;
        border-bottom-color: #fff;
    }
}


// custom bootstrap select
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    display: block;
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        background-color: #522a6b;
        color: #fff;
        font-size: 1rem;
    }

    .dropdown-menu {
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: none;
        padding: 0;
        max-width: 100%;
        top: 100%;
    }
}


.bootstrap-select.btn-group .no-results {
    margin: 0;
    font-size: 0.84rem;
    padding: 5px 17px;
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
    padding: 0;
}

.bootstrap-select>.dropdown-toggle {
    border: 1px solid #522a6b;
    border-radius: 5px;
    padding: 13px 20px;
    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
        box-shadow: none;
        background-color: #fff;
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: #fff;
    float: none;
}

.search {
    .bootstrap-select>.dropdown-toggle {
        border: none;
        padding: 26px 30px 24px 42px;
    }
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.btn-default.dropdown-toggle.focus,
.open>.btn-default.dropdown-toggle:focus,
.open>.btn-default.dropdown-toggle:hover {
    background-color: #fff;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 1rem;
    color: #522a6b;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    font-size: 0.84rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -2px;
}

.caret {
    border: none;
    width: 5px;
    height: 5px;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    border-left: 1px solid #522a6b;
    border-bottom: 1px solid #522a6b;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    outline: none;
}



// datepicker bootstrap
.input-group.date {
    .form-control {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        font-size: 1rem;
        color: #522a6b;
        height: 25px;
    }
    .input-group-addon {
        padding: 0;
        display: table;
        position: absolute;
        right: -12px;
        background: transparent;
        border: none;
        @include tablet {
            right: 0;
        }
    }
}

.bootstrap-datetimepicker-widget table td.day {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3px;
    text-align: center;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    [class^='fa'] {
        transition: all 0.3s;
    }
}


.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td:hover,
.bootstrap-datetimepicker-widget table th.active,
.bootstrap-datetimepicker-widget table th:hover {
    background-color: #522a6b;
    color: #fff;
    [class^='fa'] {
        color: #fff;
    }
    .btn-primary {
        background-color: #522a6b;
        border: 1px solid #522a6b;
    }
}

.datepicker-days {
    width: 290px;
    padding: 10px 20px;
    .table-condensed {
        width: 250px;
    }
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
}

.bootstrap-datetimepicker-widget table td.separator {
    background-color: #fff;
    &:hover {
        background-color: #fff;
    }
}


// map styles

/* #map {
    min-height: 1000px;
} */


/*style the box*/


/* .gm-style .gm-style-iw {
    background-color: #fff !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;    
    width: 430px !important;
    height: 440px !important;
    padding-top: 0;
    display: block !important;
} */

.gm-style-iw {
    width: 360px !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    &:after {
        content: '';
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 40px 10px 0;
        border-color: transparent #fff transparent transparent;
    }
}